<component name="ArtifactManager">
  <artifact type="war" name="springmvc-ssm:war">
    <output-path>$PROJECT_DIR$/spring-maven/springmvc-ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-ssm.war">
      <element id="artifact" artifact-name="springmvc-ssm:war exploded" />
    </root>
  </artifact>
</component>